In [1]:
import os
import glob
import numpy as np
import pandas as pd
import pyreadstat
import matplotlib.pyplot as plt

DATABASE = "database\\"
MERGED_DF = {}

In [2]:
os.listdir("database\\")

['1999-2000',
 '2001-2002',
 '2003-2004',
 '2005-2006',
 '2007-2008',
 '2009-2010',
 '2011-2012',
 'report.docx']

In [65]:
def get_DF_of_year(year, threshold=5, database="Lab"):
    result = {}
    db = glob.glob(f"{DATABASE}{year}\\{database}\\*")
    for xpt in db:
        df, meta = pyreadstat.read_xport(xpt, encoding="ISO-8859-1")
        df_new = df.dropna(thresh=int(len(df.columns)-(threshold/100)*len(df.columns)))
        df_new["year"] = year
        xpt_name = xpt.split("\\")[-1]
        result[xpt_name] = df_new
        print(f"{xpt_name} : {len(df_new)/len(df)} : with at most {threshold}% of NAN")
    return result

In [66]:
year_1999 = get_DF_of_year(year="1999-2000", threshold=2, database="Lab")
year_2001 = get_DF_of_year(year="2001-2002", threshold=2, database="Lab")
year_2003 = get_DF_of_year(year="2003-2004", threshold=2, database="Lab")

LAB10.xpt : 1.0 : with at most 2% of NAN
LAB10AM.xpt : 0.911233547597184 : with at most 2% of NAN
LAB11.xpt : 0.3184324065196548 : with at most 2% of NAN

<ipython-input-65-230c010423b9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["year"] = year

LAB13.xpt : 0.8895014381591563 : with at most 2% of NAN
LAB13AM.xpt : 0.8099616858237548 : with at most 2% of NAN
LAB16.xpt : 0.972758664790894 : with at most 2% of NAN
SSCARD_A.xpt : 0.9943809958885336 : with at most 2% of NAN
SSCYST_A.xpt : 1.0 : with at most 2% of NAN
L10AM_B.xpt : 0.9206219312602292 : with at most 2% of NAN
L10_2_B.xpt : 0.36804308797127466 : with at most 2% of NAN
L10_B.xpt : 1.0 : with at most 2% of NAN
L11_2_B.xpt : 0.466786355475763 : with at most 2% of NAN
L11_B.xpt : 0.3229324120060462 : with at most 2% of NAN
L13AM_B.xpt : 0.816084229390681 : with at most 2% of NAN
L13_2_B.xpt : 0.5073529411764706 : with at most 2% of NAN
L13_B.xpt : 0.8947311595767653 : with at most 2% of NAN
L16_B.xpt : 0.9683127096102695 : with at most 2% of NAN
SSCARD_A.xpt : 0.9943809958885336 : with at most 2% of NAN
SSCYST_B.xpt : 1.0 : with at most 2% of NAN
L10AM_C.xpt : 0.933253873659118 : with at most 2% of NAN
L10_C.xpt : 1.0 : with at most 2% of NAN
L11_C.xpt : 0.8005229327813488 : with at most 2% of NAN
L13AM_C.xpt : 0.8968765493306892 : with at most 2% of NAN
L13_C.xpt : 0.9084852734922861 : with at most 2% of NAN
L16_C.xpt : 0.969556502129792 : with at most 2% of NAN
SSCARD_A.xpt : 0.9943809958885336 : with at most 2% of NAN

# A) Laboratory Results

### 1) LAB10

In [5]:
df_lab10 = pd.concat([year_1999["LAB10.xpt"], 
                                year_2001["L10_B.xpt"], 
                                year_2003["L10_C.xpt"]],axis=0).reset_index(drop=True)
MERGED_DF["LAB10"] = df_lab10
MERGED_DF

{'LAB10':           SEQN  LBXGH       year
 0          2.0    4.7  1999-2000
 1          5.0    5.5  1999-2000
 2          6.0    5.1  1999-2000
 3          7.0    5.8  1999-2000
 4          8.0    5.0  1999-2000
 ...        ...    ...        ...
 21188  31119.0    5.6  2003-2004
 21189  31121.0    5.9  2003-2004
 21190  31123.0    5.3  2003-2004
 21191  31124.0    5.6  2003-2004
 21192  31125.0    5.3  2003-2004

 [21193 rows x 3 columns]}

### 2) LAB10AM

In [6]:
year_2003["L10AM_C.xpt"]

         SEQN   WTSAF2YR  LBXGLU  LBDGLUSI  LBXCPSI  LBXIN  LBDINSI       year
0     21005.0   14084.10    87.6     4.863    0.591  11.26    67.56  2003-2004
1     21006.0   13080.94    75.0     4.163    0.535  11.44    68.64  2003-2004
2     21013.0   17173.77    91.7     5.090    0.593  10.63    63.78  2003-2004
3     21016.0   17008.13    79.3     4.402    0.619  16.45    98.70  2003-2004
4     21020.0   65607.89    88.1     4.890    0.717   9.05    54.30  2003-2004
...       ...        ...     ...       ...      ...    ...      ...        ...
3351  31114.0  104950.92    92.6     5.140    0.384   2.59    15.54  2003-2004
3352  31115.0   10521.93    82.2     4.563    0.740  10.26    61.56  2003-2004
3353  31116.0  170326.69    80.5     4.469    0.403   2.24    13.44  2003-2004
3354  31119.0   70025.16   111.7     6.200    2.003  40.42   242.52  2003-2004
3355  31124.0   46400.68   103.1     5.723    1.144  15.57    93.42  2003-2004

[3132 rows x 8 columns]

In [7]:
year_1999['LAB10AM.xpt'].columns

Index(['SEQN', 'WTSAF2YR', 'WTSAF4YR', 'LBXGLU', 'LBXGLUSI', 'LBXCPSI',
       'LBXIN', 'LBXINSI', 'year'],
      dtype='object')

In [8]:
def get_Tosoh_equivalent(x):
    return 1.0027 * x - 2.2934

In [9]:
year_1999['LAB10AM.xpt']["LBXGLU"] = get_Tosoh_equivalent(year_1999['LAB10AM.xpt']["LBXGLU"])
year_2001['L10AM_B.xpt']["LBXGLU"] = get_Tosoh_equivalent(year_2001['L10AM_B.xpt']["LBXGLU"])
year_2003['L10AM_C.xpt']["LBXGLU"] = year_2003['L10AM_C.xpt']["LBXGLU"] + 0.05

In [10]:
year_1999['LAB10AM.xpt']["WTSAF2YR"] = year_1999['LAB10AM.xpt']["WTSAF4YR"]/2
year_2001['L10AM_B.xpt']["WTSAF2YR"] = year_2001['L10AM_B.xpt']["WTSAF4YR"]/2

year_1999['LAB10AM.xpt'].drop(columns=["WTSAF4YR"], inplace=True)
year_2001['L10AM_B.xpt'].drop(columns=["WTSAF4YR"], inplace=True)

In [11]:
MERGED_DF["L10AM"] = pd.concat([year_1999['LAB10AM.xpt'], 
                                year_2001['L10AM_B.xpt'], 
                                year_2003['L10AM_C.xpt']],
                              axis=0)

In [12]:
#MERGED_DF["L10AM"].drop(columns=["LBXINSI", 
 #                                "LBDGLUSI", 
  #                               "LBDINSI"], 
   #                     inplace=True)

In [13]:
MERGED_DF["L10AM"].reset_index(drop=True, inplace=True)

In [14]:
MERGED_DF["L10AM"]

,SEQN,WTSAF2YR,LBXGLU,LBXGLUSI,LBXCPSI,LBXIN,LBXINSI,year,LBDGLUSI,LBDINSI
0,2.0,16536.633786,81.63259,4.646,0.484,4.55,27.30,1999-2000,NaN,NaN
1,5.0,49234.403246,97.87633,5.550,0.951,13.65,81.90,1999-2000,NaN,NaN
2,7.0,16467.937032,83.53772,4.756,0.546,9.72,58.32,1999-2000,NaN,NaN
3,8.0,18008.383815,82.13394,4.678,0.337,7.63,45.78,1999-2000,NaN,NaN
4,10.0,14469.761221,87.74906,4.989,0.517,6.43,38.58,1999-2000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9479,31114.0,104950.920000,92.65000,NaN,0.384,2.59,NaN,2003-2004,5.140,15.54
9480,31115.0,10521.930000,82.25000,NaN,0.740,10.26,NaN,2003-2004,4.563,61.56
9481,31116.0,170326.690000,80.55000,NaN,0.403,2.24,NaN,2003-2004,4.469,13.44
9482,31119.0,70025.160000,111.75000,NaN,2.003,40.42,NaN,2003-2004,6.200,242.52
9483,31124.0,46400.680000,103.15000,NaN,1.144,15.57,NaN,2003-2004,5.723,93.42

### 3) LAB11

In [15]:
year_2001["L11_2_B.xpt"].rename(columns={"LB2CRP":"LBXCRP"},
                               inplace=True)

In [16]:
year_1999["LAB11.xpt"].drop(columns=["LBXFB",
                                     "LBDFBSI",
                                     "URXNT"],
                           inplace=True)
year_2001["L11_2_B.xpt"].drop(columns=["LB2FB", 
                                      "LB2FBSI",
                                      "UR2NT"],
                             inplace=True)

In [17]:
# LB2BAP=exp(−0.5326+1.1139×log(LBXBAP)−0.7963×max(0,log(LBXBAP)−4.5151)+0.9660×max(0,log(LBXBAP)−4.9030))

In [18]:
def convert_to_BeckmanAccess(x):
    log = np.log(x)
    return np.exp((((-0.5326)*(1.1139*log))-
                   (- 0.7963 * np.maximum(0, log - 4.5151))+
                   (0.9660 * np.maximum(0, log - 4.9030))))

In [19]:
year_2001["L11_2_B.xpt"].rename(columns={"LB2BAP":"LBXBAP"},
                               inplace=True)

In [20]:
year_2001["L11_2_B.xpt"]["LBXBAP"] = convert_to_BeckmanAccess(year_2001["L11_2_B.xpt"]["LBXBAP"])
year_1999["LAB11.xpt"]["LBXBAP"] = convert_to_BeckmanAccess(year_1999["LAB11.xpt"]["LBXBAP"])

In [21]:
year_1999["LAB11.xpt"].columns

Index(['SEQN', 'LBXCRP', 'LBXHP1', 'LBXBAP', 'year'], dtype='object')

In [22]:
year_2003["L11_C.xpt"].columns

Index(['SEQN', 'LBXCRP', 'LBXBAP', 'LBXPT21', 'year'], dtype='object')

In [23]:
year_2001["L11_2_B.xpt"].columns

Index(['SEQN', 'LB2DAY', 'LBXBAP', 'LBXCRP', 'year'], dtype='object')

In [24]:
year_2001["L11_2_B.xpt"].drop(columns=["LB2DAY"], inplace=True)

In [25]:
year_1999["LAB11.xpt"].drop(columns=["LBXHP1"], inplace=True)

In [26]:
year_2003["L11_C.xpt"].drop(columns=["LBXPT21"], inplace=True)

In [27]:
MERGED_DF["LAB11"] = pd.concat([year_1999["LAB11.xpt"], 
                                year_2001["L11_2_B.xpt"], 
                                year_2003["L11_C.xpt"]], axis=0)

In [28]:
MERGED_DF["LAB11"].reset_index(drop=True, inplace=True)

In [29]:
MERGED_DF["LAB11"]

          SEQN  LBXCRP     LBXBAP       year
0          2.0    0.36   0.213508  1999-2000
1          5.0    0.08   0.205488  1999-2000
2          7.0    0.04   0.221388  1999-2000
3         10.0    0.12   0.169605  1999-2000
4         13.0    0.27   0.181206  1999-2000
...        ...     ...        ...        ...
10260  31119.0    0.12  23.700000  2003-2004
10261  31121.0    1.27        NaN  2003-2004
10262  31123.0    0.20        NaN  2003-2004
10263  31124.0    0.16  19.200000  2003-2004
10264  31125.0    0.30        NaN  2003-2004

[10265 rows x 4 columns]

### 4) Cholesterol (Total & HDL) - LAB13

In [30]:
#LBXHDD → LBDHDL
#LBDHDDSI → LBDHDLSI

In [31]:
year_2003["L13_C.xpt"].rename(columns={"LBXHDD":"LBDHDL",
                                      "LBDHDDSI":"LBDHDLSI"},
                             inplace=True)

In [32]:
year_1999["LAB13.xpt"]["LBDHDLSI"] = year_1999["LAB13.xpt"]["LBDHDL"] * 0.02586
year_2001["L13_B.xpt"]["LBDHDLSI"] = year_2001["L13_B.xpt"]["LBDHDL"] * 0.02586

In [33]:
MERGED_DF["LAB13"] = pd.concat([year_1999["LAB13.xpt"], 
                               year_2001["L13_B.xpt"],
                              year_2003["L13_C.xpt"]], axis=0)

In [34]:
MERGED_DF["LAB13"].reset_index(drop=True, inplace=True)

### 5) LDL-Cholesterol & Triglycerides - LAB13AM

In [35]:
# Nothing is needed for correction! But we will find different variables by merging lab13 and lab13am

In [36]:
def merged_df_LAB13AM(year_df, names):
    n1 = names[0].split(".")[0]
    n2 = names[1].split(".")[0]
    new_n = n1+"Merged"
    year_df[new_n] = pd.merge(year_df[names[0]],
                                   year_df[names[1]],
                                   on="SEQN",
                                   how="inner")
    year_df[new_n].drop(columns=["year_x"], inplace=True)
    year_df[new_n]["LBDLDL"] = (year_df[new_n]["LBXTC"]-
                               year_df[new_n]["LBDHDL"]-
                               (year_df[new_n]["LBXTR"]/5))

In [37]:
merged_df_LAB13AM(year_1999, ["LAB13.xpt", "LAB13AM.xpt"])
merged_df_LAB13AM(year_2001, ["L13_B.xpt", "L13AM_B.xpt"])
merged_df_LAB13AM(year_2003, ["L13_C.xpt", "L13AM_C.xpt"])

In [38]:
year_1999["LAB13Merged"]

,SEQN,LBXTC,LBDTCSI,LBDHDL,LBDHDLSI,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,year_y
0,2.0,215.0,5.56,54.0,1.39644,60586.147294,33073.267573,128.0,1.45,135.4,3.52,1999-2000
1,3.0,129.0,3.34,30.0,0.77580,121969.841152,52434.225472,202.0,2.28,58.6,1.50,1999-2000
2,5.0,279.0,7.21,42.0,1.08612,234895.205650,98468.806492,347.0,3.92,167.6,4.34,1999-2000
3,7.0,245.0,6.34,105.0,2.71530,57661.621988,32935.874064,62.0,0.70,127.6,3.28,1999-2000
4,8.0,162.0,4.19,67.0,1.73262,76026.438279,36016.767631,33.0,0.37,88.4,2.28,1999-2000
...,...,...,...,...,...,...,...,...,...,...,...,...
3166,9950.0,161.0,4.16,54.0,1.39644,99762.718947,46146.364442,80.0,0.90,91.0,2.35,1999-2000
3167,9951.0,160.0,4.14,52.0,1.34472,18315.301381,9546.066476,66.0,0.75,94.8,2.46,1999-2000
3168,9952.0,194.0,5.02,37.0,0.95682,177334.696331,78218.525571,67.0,0.76,143.6,3.70,1999-2000
3169,9960.0,276.0,7.14,79.0,2.04294,4730.516172,3324.168420,111.0,1.25,174.8,4.53,1999-2000
3170,9961.0,211.0,5.46,39.0,1.00854,187597.135872,86693.102694,277.0,3.13,116.6,3.00,1999-2000

In [39]:
MERGED_DF["L13+"] = pd.concat([year_1999["LAB13Merged"],
                              year_2001["L13_BMerged"],
                              year_2003["L13_CMerged"]], axis=0)

In [40]:
MERGED_DF["L13+"].reset_index(drop=True, inplace=True)

In [41]:
MERGED_DF["L13+"]

,SEQN,LBXTC,LBDTCSI,LBDHDL,LBDHDLSI,WTSAF2YR,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,year_y
0,2.0,215.0,5.56,54.0,1.39644,60586.147294,33073.267573,128.0,1.450,135.4,3.520,1999-2000
1,3.0,129.0,3.34,30.0,0.77580,121969.841152,52434.225472,202.0,2.280,58.6,1.500,1999-2000
2,5.0,279.0,7.21,42.0,1.08612,234895.205650,98468.806492,347.0,3.920,167.6,4.340,1999-2000
3,7.0,245.0,6.34,105.0,2.71530,57661.621988,32935.874064,62.0,0.700,127.6,3.280,1999-2000
4,8.0,162.0,4.19,67.0,1.73262,76026.438279,36016.767631,33.0,0.370,88.4,2.280,1999-2000
...,...,...,...,...,...,...,...,...,...,...,...,...
10427,31114.0,157.0,4.06,73.0,1.89000,104951.000000,NaN,52.0,0.587,73.6,1.914,2003-2004
10428,31115.0,129.0,3.34,43.0,1.11000,10522.000000,NaN,65.0,0.734,73.0,1.888,2003-2004
10429,31116.0,208.0,5.38,64.0,1.66000,170326.600000,NaN,77.0,0.869,128.6,3.336,2003-2004
10430,31119.0,211.0,5.46,44.0,1.14000,70025.200000,NaN,221.0,2.495,122.8,3.181,2003-2004
10431,31124.0,282.0,7.29,51.0,1.32000,46400.600000,NaN,307.0,3.466,169.6,4.396,2003-2004

### 6) LAB16

In [42]:
# No change needed

In [43]:
MERGED_DF["LAB16"] = pd.concat([year_1999["LAB16.xpt"], 
                                year_2001["L16_B.xpt"], 
                                year_2003["L16_C.xpt"]],
                              axis=0)
MERGED_DF["LAB16"].reset_index(drop=True, inplace=True)

In [44]:
MERGED_DF["LAB16"]

          SEQN  URXUMA  URXUMASI  URXUCR  URXUCRSI       year
0          2.0     9.1       9.1   145.0   12818.0  1999-2000
1          3.0    10.4      10.4   126.0   11138.0  1999-2000
2          5.0     6.1       6.1   172.0   15205.0  1999-2000
3          6.0     5.0       5.0   124.0   10962.0  1999-2000
4          7.0     6.7       6.7   128.0   11315.0  1999-2000
...        ...     ...       ...     ...       ...        ...
23713  31119.0    31.7      31.7    41.0    3624.0  2003-2004
23714  31121.0     1.8       1.8    16.0    1414.0  2003-2004
23715  31123.0     8.8       8.8    57.0    5039.0  2003-2004
23716  31124.0    12.8      12.8   257.0   22719.0  2003-2004
23717  31125.0     7.8       7.8   201.0   17768.0  2003-2004

[23718 rows x 6 columns]

In [45]:
MERGED_DF.keys()

dict_keys(['LAB10', 'L10AM', 'LAB11', 'LAB13', 'L13+', 'LAB16'])

### 7) SSCARD

In [46]:
year_1999["SSCARD_A.xpt"].columns == year_2001["SSCARD_A.xpt"].columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [47]:
year_2001["SSCARD_A.xpt"].columns == year_2003["SSCARD_A.xpt"].columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [48]:
MERGED_DF["SSCARD_A"] = pd.concat([year_1999["SSCARD_A.xpt"], 
                                  year_2001["SSCARD_A.xpt"],
                                  year_2003["SSCARD_A.xpt"]], axis=0)

In [49]:
MERGED_DF["SSCARD_A"].reset_index(drop=True, inplace=True)

In [50]:
len(MERGED_DF["SSCARD_A"]["SEQN"].unique())

21767

In [51]:
len(MERGED_DF["SSCARD_A"]["SEQN"])

65301

### 8) SSCYST

In [52]:
# We dont need it since it is already available in SSCARD!

### 9) Merging each separate table for Laboratory Data

In [53]:
cond = ~pd.isna(MERGED_DF["SSCARD_A"]["WTSSCB4Y"])
result = MERGED_DF["SSCARD_A"]["WTSSCB4Y"]/2
MERGED_DF["SSCARD_A"].loc[cond, "WTSSCB2Y"] = result

In [54]:
MERGED_DF["SSCARD_A"].drop(columns=["WTSSCB4Y"], inplace=True)

In [55]:
MERGED_DF["SSCARD_A"].head()

,SEQN,WTSSCB2Y,SSB2M,SSB2ML,SSCYST,SSCYSTL,SSGALB,SSGALBL,SSALB,SSALBL,SSGALBP,SSPRIS,year
0,2.0,8414.497980,2.21,0.0,0.852,0.0,0.545,0.0,4.374,0.0,13.830,1.0,1999-2000
1,3.0,15138.696194,2.06,0.0,0.732,0.0,0.497,0.0,4.584,0.0,12.411,1.0,1999-2000
2,5.0,25705.534585,1.63,0.0,0.715,0.0,0.544,0.0,4.794,0.0,12.854,1.0,1999-2000
3,6.0,10757.657384,1.48,0.0,0.569,0.0,0.637,0.0,5.343,0.0,13.358,1.0,1999-2000
4,7.0,8835.405350,1.50,0.0,0.670,0.0,0.630,0.0,4.687,0.0,14.691,1.0,1999-2000

In [60]:
if not os.path.exists(DATABASE+"/Laboratory"):
    os.mkdir(DATABASE+"/Laboratory")
    for table in MERGED_DF.keys():
        MERGED_DF[table].to_csv(DATABASE+"/Laboratory/"+table+".csv",index=False)

# B) Dietary

In [71]:
year_1999 = get_DF_of_year(year="1999-2000", threshold=5, database="Dietary")
year_2001 = get_DF_of_year(year="2001-2002", threshold=5, database="Dietary")
year_2003 = get_DF_of_year(year="2003-2004", threshold=5, database="Dietary")

DRXFMT.xpt : 1.0 : with at most 5% of NAN

<ipython-input-65-230c010423b9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["year"] = year

DRXIFF.xpt : 0.9944461827284106 : with at most 5% of NAN
DRXTOT.xpt : 0.0 : with at most 5% of NAN
DSBI.xpt : 1.0 : with at most 5% of NAN
DSII.xpt : 0.9999946964232679 : with at most 5% of NAN
DSPI.xpt : 0.9424759080800593 : with at most 5% of NAN
DSQFILE1.xpt : 0.9997992975413948 : with at most 5% of NAN
DSQFILE2.xpt : 0.7777195968058647 : with at most 5% of NAN

# C) Examination

In [72]:
year_1999["DRXTOT.xpt"] = None