In [1]:
import numpy as np
import pandas as pd
import os
import glob
import sklearn
from sklearn.decomposition import PCA, NMF

In [2]:
PATH = "database/Laboratory/"

In [3]:
directories = glob.glob(f"{PATH}*.csv")

In [4]:
directories

['database/Laboratory\\L10AM.csv',
 'database/Laboratory\\L13+.csv',
 'database/Laboratory\\LAB10.csv',
 'database/Laboratory\\LAB11.csv',
 'database/Laboratory\\LAB13.csv',
 'database/Laboratory\\LAB16.csv',
 'database/Laboratory\\SSCARD_A.csv']

In [5]:
full_dfs = {}

In [6]:
for direc in directories:
    name = direc.split("\\")[1].split(".")[0]
    full_dfs[name] = pd.read_csv(direc, index_col=False)

In [7]:
L10AM = full_dfs["L10AM"]
L13 = full_dfs["L13+"]
LAB10 = full_dfs["LAB10"]
LAB11 = full_dfs["LAB11"]
LAB13 = full_dfs["LAB13"]
LAB16 = full_dfs["LAB16"]
SSCARD_A = full_dfs["SSCARD_A"]

In [30]:
def merge_effectively(not_merged, df):
    max_entry = -1
    max_candidate = None
    print(f"Progressing {not_merged}")
    name = None
    for cand in not_merged:
        tmp_df_i = full_dfs[cand]
        tmp_df = pd.merge(df, tmp_df_i, on="SEQN", how="inner", suffixes=["", "**"])
        if(len(tmp_df) > max_entry):
            max_entry = len(tmp_df)
            max_candidate = tmp_df
            name = cand
    not_merged.remove(name)
    return max_candidate

In [31]:
def get_largest_df():
    max_entry = -1
    max_df = None
    for n in full_dfs.keys():
        tmp_df = full_dfs[n]
        if(max_entry < len(tmp_df)):
            max_enrty = len(tmp_df)
            max_df = n
    return max_df

In [32]:
def merge_dataframes(not_merged):
    max_df = get_largest_df()
    merged_df = full_dfs[max_df]
    not_merged.remove(max_df)
    while len(not_merged) > 0:
        merged_df = merge_effectively(not_merged, merged_df)
    return merged_df

In [33]:
not_merged = list(full_dfs.keys())
merged_df = merge_dataframes(not_merged)

Progressing ['L10AM', 'L13+', 'LAB10', 'LAB11', 'LAB13', 'LAB16']
Progressing ['L10AM', 'L13+', 'LAB10', 'LAB11', 'LAB16']
Progressing ['L10AM', 'L13+', 'LAB10', 'LAB11']
Progressing ['L10AM', 'L13+', 'LAB11']
Progressing ['L13+', 'LAB11']
Progressing ['LAB11']

In [37]:
deleted_columns = []
for i in merged_df.columns:
    if i[-2]+i[-1] == "**":
        deleted_columns.append(i)
merged_df.drop(columns=deleted_columns, inplace=True)

In [38]:
merged_df

,SEQN,WTSSCB2Y,SSB2M,SSB2ML,SSCYST,SSCYSTL,SSGALB,SSGALBL,SSALB,SSALBL,...,LBXINSI,LBDINSI,WTSAF4YR,LBXTR,LBDTRSI,LBDLDL,LBDLDLSI,year_y,LBXCRP,LBXBAP
0,2.0,8414.497980,2.21,0.0,0.852,0.0,0.545,0.0,4.374,0.0,...,27.3,NaN,33073.267573,128.0,1.450,135.4,3.520,1999-2000,0.36,0.213508
1,2.0,8414.497980,2.21,0.0,0.852,0.0,0.545,0.0,4.374,0.0,...,27.3,NaN,33073.267573,128.0,1.450,135.4,3.520,1999-2000,0.36,0.213508
2,2.0,8414.497980,2.21,0.0,0.852,0.0,0.545,0.0,4.374,0.0,...,27.3,NaN,33073.267573,128.0,1.450,135.4,3.520,1999-2000,0.36,0.213508
3,5.0,25705.534585,1.63,0.0,0.715,0.0,0.544,0.0,4.794,0.0,...,81.9,NaN,98468.806492,347.0,3.920,167.6,4.340,1999-2000,0.08,0.205488
4,5.0,25705.534585,1.63,0.0,0.715,0.0,0.544,0.0,4.794,0.0,...,81.9,NaN,98468.806492,347.0,3.920,167.6,4.340,1999-2000,0.08,0.205488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11875,31119.0,34935.215318,1.91,0.0,0.703,0.0,0.541,0.0,4.463,0.0,...,NaN,242.52,NaN,221.0,2.495,122.8,3.181,2003-2004,0.12,23.700000
11876,31119.0,34935.215318,1.91,0.0,0.703,0.0,0.541,0.0,4.463,0.0,...,NaN,242.52,NaN,221.0,2.495,122.8,3.181,2003-2004,0.12,23.700000
11877,31124.0,19390.171409,1.95,0.0,0.888,0.0,0.474,0.0,4.681,0.0,...,NaN,93.42,NaN,307.0,3.466,169.6,4.396,2003-2004,0.16,19.200000
11878,31124.0,19390.171409,1.95,0.0,0.888,0.0,0.474,0.0,4.681,0.0,...,NaN,93.42,NaN,307.0,3.466,169.6,4.396,2003-2004,0.16,19.200000
11879,31124.0,19390.171409,1.95,0.0,0.888,0.0,0.474,0.0,4.681,0.0,...,NaN,93.42,NaN,307.0,3.466,169.6,4.396,2003-2004,0.16,19.200000