In [31]:
import numpy as np
import pandas as pd
import os
import glob
import sklearn
from sklearn.decomposition import PCA, NMF

In [32]:
PATH = "database/Laboratory/"

In [33]:
directories = glob.glob(f"{PATH}*.csv")

In [34]:
directories

['database/Laboratory\\L10AM.csv',
 'database/Laboratory\\L13+.csv',
 'database/Laboratory\\LAB10.csv',
 'database/Laboratory\\LAB11.csv',
 'database/Laboratory\\LAB13.csv',
 'database/Laboratory\\LAB16.csv',
 'database/Laboratory\\SSCARD_A.csv']

In [35]:
full_dfs = {}

In [40]:
for direc in directories:
    name = direc.split("\\")[1].split(".")[0]
    full_dfs[name] = pd.read_csv(direc, index_col=False)

In [50]:
L10AM = full_dfs["L10AM"]
L13 = full_dfs["L13+"]
LAB10 = full_dfs["LAB10"]
LAB11 = full_dfs["LAB11"]
LAB13 = full_dfs["LAB13"]
LAB16 = full_dfs["LAB16"]
SSCARD_A = full_dfs["SSCARD_A"]

In [61]:
def merge_effectively(not_merged, df):
    max_entry = -1
    max_candidate = None
    for cand in not_merged:
        tmp_df = pd.merge(df, full_dfs[cand], on="SEQN", how="inner")
        if(len(tmp_df) > max_entry):
            max_entry = len(tmp_df)
            max_candidate = tmp_df
    return pd.merge(df, max_candidate, on="SEQN", how="inner")

In [64]:
not_merged = list(full_dfs.keys())
not_merged.remove("L10AM")
merged_1 = merge_effectively(not_merged, full_dfs["L10AM"])

In [65]:
merged_1

,SEQN,WTSAF2YR_x,LBXGLU_x,LBXGLUSI_x,LBXCPSI_x,LBXIN_x,LBXINSI_x,year,LBDINSI_x,WTSAF2YR_y,...,SSB2ML,SSCYST,SSCYSTL,SSGALB,SSGALBL,SSALB,SSALBL,SSGALBP,SSPRIS,year_y
0,2.0,16536.633786,81.63259,4.646,0.484,4.55,27.3,1999-2000,NaN,16536.633786,...,0.0,0.852,0.0,0.545,0.0,4.374,0.0,13.830,1.0,1999-2000
1,2.0,16536.633786,81.63259,4.646,0.484,4.55,27.3,1999-2000,NaN,16536.633786,...,0.0,0.852,0.0,0.545,0.0,4.374,0.0,13.830,1.0,2001-2002
2,2.0,16536.633786,81.63259,4.646,0.484,4.55,27.3,1999-2000,NaN,16536.633786,...,0.0,0.852,0.0,0.545,0.0,4.374,0.0,13.830,1.0,2003-2004
3,5.0,49234.403246,97.87633,5.550,0.951,13.65,81.9,1999-2000,NaN,49234.403246,...,0.0,0.715,0.0,0.544,0.0,4.794,0.0,12.854,1.0,1999-2000
4,5.0,49234.403246,97.87633,5.550,0.951,13.65,81.9,1999-2000,NaN,49234.403246,...,0.0,0.715,0.0,0.544,0.0,4.794,0.0,12.854,1.0,2001-2002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26302,31119.0,70025.160000,111.75000,6.200,2.003,40.42,NaN,2003-2004,242.52,70025.160000,...,0.0,0.703,0.0,0.541,0.0,4.463,0.0,13.533,1.0,2001-2002
26303,31119.0,70025.160000,111.75000,6.200,2.003,40.42,NaN,2003-2004,242.52,70025.160000,...,0.0,0.703,0.0,0.541,0.0,4.463,0.0,13.533,1.0,2003-2004
26304,31124.0,46400.680000,103.15000,5.723,1.144,15.57,NaN,2003-2004,93.42,46400.680000,...,0.0,0.888,0.0,0.474,0.0,4.681,0.0,11.782,1.0,1999-2000
26305,31124.0,46400.680000,103.15000,5.723,1.144,15.57,NaN,2003-2004,93.42,46400.680000,...,0.0,0.888,0.0,0.474,0.0,4.681,0.0,11.782,1.0,2001-2002
26306,31124.0,46400.680000,103.15000,5.723,1.144,15.57,NaN,2003-2004,93.42,46400.680000,...,0.0,0.888,0.0,0.474,0.0,4.681,0.0,11.782,1.0,2003-2004